/*
Theme Name: Dupa_3
Theme URI: http://strefaratownictwa.pl/
Author: Piotr Piotrowski
Author URI: http://strefaratownictwa.pl/
Description: Nowy motyw Dupa3 testowy pod własną stronę internetową
Version: 1.0
License: GNU General Public License 
License URI: license.txt
Tags: white, green, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: Zielony

*/

body 
{ 
	text-align: center;
	
}




#wrapper 
{ 
	display: block; 
	border: 2px #FF00CC solid; 
	margin:0px auto;
	width: 100%;
	background-color: #93F600;
	
}



#header 
{ 
	border: 2px #FF00CC solid;
	background-color: white;
	padding: 5px;
	margin: 5px;
	
}

.posty
{
	width: auto;
	height:auto;
	padding-top: 20px;
}

.media
{
	border: 2px #FF00CC solid;
	background-color: yellow;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 1px;

}

.obra
{
	border: 2px #FF00CC solid;
	background-color: white;
}
.media-body
{
	border: 2px #FF00CC solid;
	background-color: yellow;
	display: block;
	align: center;
	width: auto;
	height:auto;
}



.container
{
	background-color: orange;
	width: auto;
	margin-right: 10px;
	margin-left: 10px;
}








/*
=====MENU=====
*/
.custom-logo
{
	max-width: 100%;
    height: auto;
}


/*
////////////////////////////////////////////////
Kolor czcionki tytułu 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
*/

.navbar-default .navbar-brand
{
	color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
{
	color: red;
}

.navbar-header
{
	background-color: black;
	max-width: 100%;
    height: auto;
}


/*
////////////////////////////////////////////////
Ikonka menu
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
*/
.navbar-default .navbar-toggle
{
	border: 4px red solid;
	background-color: white;
}

.navbar-default .navbar-toggle:hover
{
	background-color: green;
}

.navbar-default .navbar-toggle:focus
{
	background-color: yellow;
	
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
{
	color: pink;
	background-color: #003366;
}



.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
	background-color: orange;
	color: black;
}

.dropdown-menu 
{
    position: relative;
	min-width: 100%;
}

.navbar-nav
{
	text-align: center;
	width: auto;
	height: auto;
}

.navbar-default .navbar-toggle .icon-bar
{
	background-color: black;
	border: 1px solid;
	overflow: auto;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
	background-color: black;
	color: white;
	
}
.navbar-default .navbar-nav>li>a
{
	background-color: green;
	color: white;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
	background-color: yellow;
	color: green;
}

/*----------------------------------------------------------*/







.col1
{
	background-color: #CCCCCC;
	padding: 0px;
	
}

.col2
{
	background-color: #CC0000;
	color: white;
	word-wrap: break-word;
}

.r1
{
	width: auto;
	
}

.r2
{
	background-color: pink;
}

#dupa
{
	background-color: gray;
	padding: 5px;
	color: white;
	word-wrap: break-word;

}

#footer 
{ 
	border: 2px #FF00CC solid;
	background-color: silver;
}

